
.svn
*/.svn
*cscope*
*.o
*.a
*.d
*.cmd
*.ko
*.mod
*.bak
tags
*.pyc
*.png
*.jpg
*.out
c-study/simple_test/xuexe
!config/cscope.sh
opensource/clickhouse/20090613/*.csv
opensource/clickhouse/ericsson/*.csv
opensource/clickhouse/clickhouse/

